.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.btn {
    background-color: #f85606;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
}

.btn:hover {
    background-color: #e45e05;
}
