/* Navigation Bar */
.navbar {
    background-color: #1260ae;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar .logo {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #f8f8f8;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.navbar ul li {
    display: inline-block;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

.navbar ul li a:hover {
    color: #10a37f;
}
